<header>
    <div class="navbar">
        <div class="brand">
            <a [routerLink]="['/home']" routerLinkActive="router-link-active" >
                <h1>Jhon Santana Web</h1>
            </a>
        </div>
        <div class="menu">
            <a class="button" [routerLink]="['/projects']" routerLinkActive="router-link-active" >Proyectos</a>
            <a class="button" [routerLink]="['/about']" routerLinkActive="router-link-active" >Sobre mi</a>
        </div>

    </div>
</header>
