<div class="content">
  <div class="photo-container">
    <figure class="photo animate__animated animate__fadeIn">
      <img class="img-responsive" src="assets/img/me.png" alt="jhon-santana" />
    </figure>
  </div>
  <div class="aboutme">
    <article class="bio">
      <p>
        Siempre me ha llamado la atención la tecnología desde muy joven. Allí
        descubrí una de mis nuevas pasiones , la programación. Desde realizar
        interfaces sencillas en Visual Basic, configurar microcontroladores,
        hasta llegar a crear páginas y aplicaiones web completas.
      </p>
      <p>
        Dominar javascript es uno de mis objetivos principales y Angular es mi
        framework seleccionado en el fronted; en el lado del backend con
        Node.js/ Express. No estoy cerrado a ninguna tecnología y sigo
        constantemente aprendiendo nuevos lenguajes y frameworks.
      </p>
    </article>

    <div class="skills">
      <div class="hard-skill">
        <h3>hard skills</h3>
        <ul>
          <li>HTML/ CSS</li>
          <li>Javascript</li>
          <li>PHP</li>
          <li>Angular</li>
          <li>Nodejs</li>
          <li>Git/GitHub</li>
          <li>MySQL</li>
          <li>Mongo</li>
        </ul>
      </div>
      <div class="soft-skill">
        <h3>soft skills</h3>
        <ul>
          <li>Responsable</li>
          <li>Proactivo</li>
          <li>Trabajo en equipo</li>
          <li>Organizado</li>
          <li>Honesto</li>
          <li>Alto sentido de pertenencia</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="socialmedia">
  <h3>redes sociales</h3>
  <ul>
    <li><div><a href="assets/img/CV.pdf" target="blank"><img src="assets/img/icons/curriculum.png" width="10%" alt="curriculm"></a></div></li>
    <li><div><a href="https://twitter.com/Alexx_1208" target="blank"><img src="assets/img/icons/twitter.png" width="10%" alt="twitter"></a></div></li>
    <li><div><a href="https://www.linkedin.com/in/jhonalexsantana/" target="blank"><img src="assets/img/icons/linkedin.png" width="10%" alt="linkedin"></a></div></li>
    <li><div><a href="https://github.com/Jalexx08" target="blank"><img src="assets/img/icons/github.png" width="10%" alt="github"></a></div></li>
    <li><div><a href="https://www.instagram.com/jalexx_s/" target="blank"><img src="assets/img/icons/instagram.png" width="10%" alt="instagram"></a></div></li>
  </ul>
</div>
